
table, th {
    border-collapse: collapse;
    background-color: orange;
}
table {
    width: 800px; height: 400px;
}
th{
    height: 20px; width: 20px;
}
td{
    width: 100px; height: 100px;
}
tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}
tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
}